= form_for @prompt, remote: true do |f|
  = f.label :optionA, 'Option A'
  = f.text_field :optionA

  = f.label :optionB, 'Option B'
  = f.text_field :optionB

  = f.label :author
  = f.text_field :author

  = f.label :description
  = f.text_field :description

  = f.submit
