<div class="row" id="prompt_<%=prompt.id%>">
  <h3>Would you rather...</h3>
  <div class="col-sm-4">
    <h3><%= prompt.option_a %></h3>
  </div>
  <div class="col-sm-2">
    <h4>or</h4>
    <p>Total: <%= prompt.votes_a + prompt.votes_b %></p>
  </div>
  <div class="col-sm-4">
    <h3><%= prompt.option_b %></h3>
  </div>
  <div class="col-md-4 offset-md-4">
    <div class="" id="AB_vote">
      <%= form_tag("/prompts/#{prompt.id}", method: :patch, remote: true) do %>
        <%= radio_button_tag :vote, value: "Option A"  %>
        <%= label_tag :vote, 'Option A' %><br>
        <%= radio_button_tag :vote, value: "Option B" %>
        <%= label_tag :vote, 'Option B' %>
      <% end %>
    </div>
    <p><%= prompt.description %></p>
  </div>
  <%= link_to "Delete", prompt_path(prompt), data: { confirm: 'Are you sure?', method: :delete} %>
</div>
<hr>
