<%= link_to "New", new_prompt_path, id: "new_link", remote: true %>
<div id="new_prompt"></div>

<div class="col-sm-12" id="all_prompts">
  <% @prompts.each do |prompt| %>

    <div class="row" id="prompt_<%=prompt.id%>">
      <h3>Would you rather...</h3>
      <div class="col-sm-4">
        <h3><%= prompt.optionA %></h3>
      </div>
      <div class="col-sm-2">
        <h4>or</h4>
      </div>
      <div class="col-sm-4">
        <h3><%= prompt.optionB %></h3>
      </div>

      <div class="col-md-4 offset-md-4">
        <p>
          <%= prompt.description %>
        </p>
      </div>
      <%= link_to "Delete", prompt_path(prompt), data: { confirm: 'Are you sure?', method: :delete} %>
    </div>
    <hr>
    <% end %>
</div>
