$("#total_<%= @prompt.id %>").text(' <%= @prompt.votes_a + @prompt.votes_b %>');
$('#vote_<%= @prompt.id %>').html('<p> option a: <%= @prompt.votes_a %> </p> <p> option b: <%= @prompt.votes_b %> </p> ');
